@use 'variables' as v;
.card{
    position: relative;
    border: solid 1px;
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background: v.$color2;
    padding: 48px 12px 12px ;
    box-shadow: 3px 3px 10px;
    cursor: pointer;
    overflow: hidden;
    &_name{
        background: v.$color1;
        text-align: center;
        color: v.$color6;
        width: 140px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
    }
    &_circulo{
        background: v.$color4;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        left: 24px;
    }
    &_img{
        z-index: 1;
        position: absolute;
        width: 100%;
    }
}